@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap);

:root {
    --theme-color-1: #f7fbfc;
    --theme-color-2: #d6e6f2;
    --theme-color-3: #b9d7ea;
    --theme-color-4: #769fcd;
}

body {
    background: var(--theme-color-2);
    background-image:-webkit-linear-gradient(240deg,var(--theme-color-2),white);
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    font-family: -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Noto Serif SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', 'Merriweather',serif;
}

@media (orientation: landscape) {
    .left {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 15%;
        top: 20%;
        height: 50%;
        width: 450px;
    }

    .favicon {
        height: 290px;
        width: 290px;
        border-radius: 145px;
        background-color: var(--theme-color-1);
        box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    }

    .bottons {
        height: 10%;
        width: 420px;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    botton {
        font-size: 1.1rem;
        position: relative;
        transition: all .15s ease;
        letter-spacing: .025em;
        will-change: transform;
        border-color: var(--theme-color-4);
        background-color: var(--theme-color-4);
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        line-height: 1.5;
        display: inline-block;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: var(--theme-color-1);
        text-align: center;
        vertical-align: middle;
        font-weight: 600;
        padding: .625rem 1.25rem;
        cursor: pointer;
        margin-bottom: 0.6rem;
        margin-right: 0.2rem;
    }

    botton:hover {
        transform: translateY(-3px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    }

    .botton-icon-text {
        color: var(--theme-color-1);
        text-decoration: none;
    }

    .right {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 15%;
        top: 20%;
        height: 50%;
        width: 500px;
    }

    li {
        font-size: 22px;
    }
}

@media (orientation: portrait) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .left {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        height: 450px;
    }

    .favicon {
        height: 290px;
        width: 290px;
        border-radius: 145px;
        background-color: var(--theme-color-1);
        box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    }

    botton {
        font-size: 1.1rem;
        position: relative;
        transition: all .15s ease;
        letter-spacing: .025em;
        will-change: transform;
        border-color: var(--theme-color-4);
        background-color: var(--theme-color-4);
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        line-height: 1.5;
        display: inline-block;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: var(--theme-color-1);
        text-align: center;
        vertical-align: middle;
        font-weight: 600;
        padding: .625rem 1.25rem;
        cursor: pointer;
        margin-bottom: 0.6rem;
        margin-right: 0.2rem;
    }

    .bottons {
        height: 7.5%;
        width: 290px;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }

    .botton-icon-text {
        color: var(--theme-color-1);
        text-decoration: none;
    }

    .right {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: 50%;
        width: 90%;
    }

    li {
        font-size: 22px;
    }

    botton:hover {
        transform: translateY(-3px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    }
    
    .botton-icon-text {
        color: var(--theme-color-1);
        text-decoration: none;
    }
}